@import "tiles";

/* LESS variables */
$accent-highlight: #55BCFF;
$accent-strong: #1E77D6;
$accent-mid: #0A2645;
$accent-mute: #080100;
$background-light: #fff;

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: $accent-mute;
}

#intro {
    color: #ccc;
    margin-top: 2em;
    margin-bottom: 2em;

    .tagline {
        text-transform: uppercase;
        color: #777;
    }

    h1 {
        font-weight: lighter;
        font-size: 3em;
        margin-top: 0.33em;
        margin-bottom: 0;
    }
    
    h1:first-letter {
        margin-left: -0.05em;
    }
    
    .tiles {
        margin-top: 2em;
    }
}

#nprogress {
    .bar {
        background: $accent-highlight;
    }

    .spinner-icon {
        border-top-color: $accent-highlight;
        border-left-color: $accent-highlight;
    }

    .peg {
        box-shadow: 0 0 10px $accent-highlight, 0 0 5px $accent-highlight;
    }
}

article.container {
    background: $background-light;
    
    > header {
        margin-bottom: 1em;
    }
}

.center-block {
    width: 80%;
    margin: 0 auto;
}