$tile-unit: 14px;

.tiles {
    color: #777;
    height: 280px;
    margin: 0 -0.5em; // align header text with tile labels in left column
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    .tile {
        margin-right: $tile-unit;
        margin-bottom: $tile-unit;
    }
}

.tile {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    position: relative;
    overflow: hidden;

    &.medium {
        width: 120px;
        height: 120px;
    }

    &.wide {
        width: 254px;
        height: 120px;
    }

    &.large {
        width: 254px;
        height: 254px;
    }

    .tile-link {
        position: absolute;
        display: block;
        z-index: 50;
        background: transparent;
    }

    &:active {
        -ms-transform: perspective(250px) translateZ(-10px);
        transform: perspective(250px) translateZ(-10px);
    }

    .title {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 1em;
        margin-right: 1em;
        z-index: 10;
    }

    .tile-badge {
        height: 24px;
        width: 24px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0.5em 0.75em;
        z-index: 10;
    }
}

/* Need this rule to keep easing happy */
.tile .faces, .tile .front, .tile .back, .tile .tile-link, ul.tile-content, ul.tile-content > li {
    width: inherit;
    height: inherit;
}

.tile .front, .tile .back, .tile .tile-badge, ul.tile-content > li {
    background-position: center center;
    background-repeat: no-repeat;
}

.tile .back, ul.tile-content > li {
    background-size: cover;
}

ul.tile-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 5;
}

/* --- TEMPLATES --- */

/*<li class="fill-template template-image">*/
/*<h3 class="template-lead"></h3>*/
/*</li>*/

.fill-template {
    position: relative;

    &.template-image {
        background-position: center;
    }

    h3.template-lead {
        font-size: 2em;
        margin: 0.5 * $tile-unit $tile-unit;
        padding-left: 0;
        font-weight: 400;
    }

    p.template-body {
        margin: $tile-unit;
        width: 75%;
        line-height: $tile-unit * 1.25;
        font-size: $tile-unit - 1;
    }
}

.template-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    height: inherit;
    width: inherit;
}

.tile.lastfm {
    background: #dc1303;
    color: #ffffff;

    .front {
        background-image: url('/img/lastfm.png');
    }

    .tile-badge {
        background-image: url('/img/lastfm.badge.png');
        margin: 0.3em 0.75em;
    }

    &.albums {
        .fill-template .template-lead {
            display: none;
        }
    }

}

.tile.github {
    background: #fff;
    color: #222;

    .fill-template h3.template-lead {
        margin-left: 12px;
    }

    .front {
        background-image: url('/img/github.png');
    }

    .tile-badge {
        background-image: url('/img/github.badge.png');
    }
}

.tile.twitter {
    background: #1da1f2;
    color: #fff;

    &.tweets {

    }
}

.tile.blog {
    background: #111;
    background-image: url('http://rikk.it/blog/content/images/2015/05/fight-club-final-scene.jpg');
    background-size: cover;
    color: #fff;
}

.tile.map {
    background: #fff;
    background-size: cover;
    color: #fff;

    .front {
        background-color: #1d468e;
        background-image: url('/img/heremaps.png');
    }

    .tile-badge {
        background-image: url('/img/heremaps.badge.png');
    }
}

.template-image.overlay {
    background-color: #bbb;
    background-blend-mode: multiply;
}

