@import "res/css/tiles.css";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 2.5em;
}

header#prime {
    padding-top: 10em;
}

header#prime p {
    margin: 0;
}

header#prime p:first-letter {
    margin-left: -0.1em;
}

#header-greeting {
    font-size: 3em;
    line-height: 1em;
}

#header-lead {
    margin-bottom: 1em;
    margin-left: 1.5em;
    font-size: 2em;
}

#burrito {
    padding-left: 2em;
    margin-bottom: 10em;
}

#burrito .tile {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

#burrito:last-child:after {
    content:"";
    display:table;
    clear:both;
}