* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
font-size: 15px;
font-family: "Segoe UI", sans-serif;
}

.tile {
margin: 1em;
}

.tile, .tile .front, .tile .back, ul.tile-content > li {
width: 250px;
height: 120px;
overflow: hidden;
position: relative;
}

.tile .front {
background-position: center center;
background-repeat: no-repeat;
}

ul.tile-content {
list-style-type: none;
margin: 0;
padding: 0;
z-index: 5;
}

.tile .title {
position: absolute;
bottom: 0;
left: 0;
margin: 0.5em 1em;
font-size: 0.9em;
z-index: 10;
}

.tile .badge {
background-position: center center;
background-repeat: no-repeat;
background-size: 24px 24px;
height: 24px;
width: 24px;
position: absolute;
bottom: 0;
right: 0;
margin: 0.25em 0.75em;
z-index: 10;
}

/* --- Tile content --- */

.image-text {
padding: 1em;
position: relative;
}

.image-text .lfm_art {
position: absolute;
left: 1em;
top: 1em;
}

.image-text .lfm_art img {
width: 75px;
height: 75px;
}

.image-text h3, .image-text p {
-o-text-overflow: ellipsis;   /* Opera */
text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
overflow:hidden;              /* don't show excess chars */
white-space:nowrap;           /* force single line */
width: 135px;                 /* fixed width */
margin-top: 0;
margin-bottom: 0;
margin-left: 90px;
}

.image-text h3 {
margin-top: -5px;
font-family: "Segoe UI Light";
font-size: 1.5em;
}

.image-text p {
font-size: 0.9em;
}

/* --- Last fm --- */

.tile.lastfm {
background: #dc1303;
color: #ffffff;
}

.tile.lastfm .front {
background-image: url('res/img/lastfm.png');
}

.tile.lastfm .badge{
background-image: url('res/img/lastfm.png');
}
