<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlTags" version="3.0.0.186" targetFramework="net452" />
  <package id="Inflatable.Lastfm" version="0.2.2.252" targetFramework="net452" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net452" />
  <package id="mustache-sharp" version="0.2.8.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net452" />
  <package id="Octokit" version="0.18.0" targetFramework="net452" />
</packages>