<div id="burrito">
    <!-- tiles loaded in here -->
	{{outlet tiles}}	
</div>

<div id="cholula" class="hub">
    <article class="hub-item intro">
        <header>
            <span class="tagline">Freelance Software Designer and Developer</span>
            <h1>Rikki Tooley</h1>
        </header>
        <p></p>
    </article>
</div>
