@import "res/css/tiles.css";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: visible;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

header.prime {
    padding-top: 4em;
}

header.prime p {
    margin: 0;
}

header.prime p:first-letter {
    margin-left: -0.1em;
}

.header-greeting {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0.25em !important;
    font-weight: lighter;
}

.header-lead {
    margin-bottom: 1em;
    margin-left: 1.5em;
    font-size: 2em;
}

#burrito {
    min-height: 338px;
    margin: 0;
    padding: 3em 3em 2em 3em;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background: #222;
}

#burrito .tile {
    margin-right: 14px;
    margin-bottom: 14px;
}

#cholula {
    padding-right: 270px;
}

.hub {
    position: relative;
    min-height: 400px;
}

.hub-item {
    padding-left: 2em;
    max-height: 100%;
}

.hub-item.prime header.prime {
    flex-grow: 1;
}

.hub .hub-item:nth-of-type(2) {
    background: #fdd700;
}

.hub .hub-item:first-of-type {
    background: none;
}